*{
    margin: 0;
    padding: 0;
}

.botao{
    width: 100px;
    height: 50px;
    background-color: aqua;
    cursor: pointer;
}

.teste{
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: height 2s, background-color 2s;
}

.active {
    height: 400px;
    background-color: cornflowerblue;
}

.acordeonDiv{
    width: 300px;
    height: 50px;
    background-color: darkmagenta;
    text-align: center;
    transition: height 2s, background-color 2s;
}

.acordeonAlterado{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
}

.accordion {
    width: 400px;
    margin-top: 10px;
}

.accordion .section .titulo {
    padding: 10px;
    background-color: aqua;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.accordion .section .conteudo{
    background-color: aquamarine;
    height: 0;
    overflow: hidden;
}