*{
    margin: 0;
    padding: 0;
}

.acordeon {
    width: 400px;
}

/* .acordeon .acordeon-section {
    height: 280px;
} */

.section-color1 {
    background-color: coral;
}

.section-color2 {
    background-color: aqua;
}

.section-color3 {
    background-color: darkorchid;
}

.section-color4 {
    background-color: darksalmon;
}

.acordeon .acordeon-section .acordeon-title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.acordeon .acordeon-section .acordeon-iten {
    height: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 400ms;
}

.acordeon .acordeon-section:hover .acordeon-iten{
    height: 240px;
}