.botao {
    background-color: aqua;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 7px 5px;
    transition: transform 400ms, box-shadow 400ms;
}

.botao:active {
    box-shadow: 0px 3px 1px;
    transform: translate(3px, 6px);
}