.teste01{
    background-color: chocolate;
    width: 50vw;
    height: 50vh;
}
.teste11{
    background-color: blueviolet;
    width: 50vw;
}
.teste02{
    width: 50%;
    background-color: cadetblue;
}
.teste21{
    background-color: coral;
    width: 50%;
}